---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const allBlogPosts = await getCollection("blog");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <h1>
      {allBlogPosts.map((post) => (
        <div>
          <h2>{post.id}</h2>
          <Image src={post.data.image} alt="Logo" style="background-color: black;" />
        </div>
      ))}
    </h1>
	</body>
</html>
